<div>
  <h2 id="page-heading" data-cy="EmployeesHeading">
    <span jhiTranslate="lawfirmApp.employees.home.title">Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lawfirmApp.employees.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employees"
        [routerLink]="['/employees/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lawfirmApp.employees.home.createLabel"> Create a new Employees </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="employees?.length === 0">
    <span jhiTranslate="lawfirmApp.employees.home.notFound">No employees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="employees && employees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.name">Name</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.surname">Surname</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.title">Title</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.story">Story</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.order">Order</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.image">Image</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.servicePoint">Service Point</span></th>
          <th scope="col"><span jhiTranslate="lawfirmApp.employees.services">Services</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employees of employees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employees', employees.id, 'view']">{{ employees.id }}</a>
          </td>
          <td>{{ employees.name }}</td>
          <td>{{ employees.surname }}</td>
          <td>{{ employees.title }}</td>
          <td>{{ employees.story }}</td>
          <td>{{ employees.order }}</td>
          <td>
            <a *ngIf="employees.image" (click)="openFile(employees.image, employees.imageContentType)">
              <img
                [src]="'data:' + employees.imageContentType + ';base64,' + employees.image"
                style="max-height: 30px"
                alt="employees image"
              />
            </a>
            <span *ngIf="employees.image">{{ employees.imageContentType }}, {{ byteSize(employees.image) }}</span>
          </td>
          <td>
            <div *ngIf="employees.servicePoint">
              <a [routerLink]="['/service-points', employees.servicePoint?.id, 'view']">{{ employees.servicePoint?.name }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let services of employees.services; let last = last">
              <a class="form-control-static" [routerLink]="['/services', services.id, 'view']">{{ services.title }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employees', employees.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employees', employees.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(employees)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
