
<div class="container">
  <div>
    <h1 class="m-3" style="text-align: center; font-size: 5em;">Hakkımızda</h1>
    <hr class="my-4 mx-auto" style="width: 200px; display: block;">
    <img style="width: 50%; display: block; margin: auto;" src="content/images/aboutus.png" alt="LawFirm">
    <br>
    <div style="width: 70%; display: block; margin: auto;">
      <p style="text-align: justify;">Kulaçoğlu Hukuk Bürosu,kurulduğu 1993 yılından beri geçen, 29 yılı aşkın süredir,
        müvekkillerine Avukatlık ve hukuki danışmanlık hizmeti vermekte ve faaliyet gösterdiği çalışma alanlarında,
        müvekkillerinin hukuki sorunlarının, verimli ve doğru şekilde çözümlenmesini amaçlamaktadır. Kulaçoğlu Hukuk
        Bürosu;
        Başta Gayrimenkul Hukuku, İdare Hukuku, Borçlar Hukuku, Miras Hukuku, Aile Hukuku alanları olmak üzere,
        Sözleşmeler,
        Ticaret Hukuku, İş Hukuku, Bilişim Hukuku, Spor Hukuku gibi birçok alanda, hukuki uyuşmazlıkların çözümlenmesine
        yönelik faaliyetler yürütmekte ve hizmet vermektedir.</p>

      <p style="text-align: justify;">Kulaçoğlu Hukuk Bürosu; Temsil ettiği müvekkillerin ihtiyaçlarına uygun hukuki
        danışmanlık hizmetini sunabilmek
        için, uyuşmazlık esnasında olduğu gibi, uyuşmazlık öncesi danışmanlık hizmetleri ile de müvekkillerimiz aleyhine
        oluşabilecek hukuki risklerin tespiti ve en aza indirgenmesi amaçlanmaktadır.</p>

      <p style="text-align: justify;">“Koruyucu Avukatlık” olarak nitelendirilebilecek bu yaklaşımla, uyuşmazlık esnasında
        olduğu gibi uyuşmazlık öncesi danışmanlık hizmetleri ile de müvekkillerimiz aleyhine oluşabilecek hukuki risklerin
        tespiti ve en aza indirgenmesini amaçlanmaktadır.</p>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col position-relative">
      <div class="position-absolute top-50 start-50 translate-middle" style="width: 80%;">
        <h2 style="text-align: center;">Vizyonumuz</h2>
        <p style="text-align: justify">Büromuz İstanbul’da kurulmuş olup uzun süredir müvekkillerine hizmet veren
          deneyimli bir hukuk bürosudur. Her geçen gün kadrosunu güçlendirerek kurumsal bir yapı içinde hizmet
          vermektedir. Yaşamlarımızın artan ihtiyaçları dolayasıyla gerek bireylerin gerekse de kurumların her alanda
          profesyonel desteğe ihtiyacı olduğu çok açık bir gerçektir.</p>
      </div>
    </div>
    <div class="col">
      <img style="width: 100%;" src="content/images/vision.png" alt="LawFirm">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img style="width: 70%;" src="content/images/mission.png" alt="LawFirm">
    </div>
    <div class="col position-relative">
      <div class="position-absolute top-50 start-50 translate-middle" style="width: 80%;">
        <h2 style="text-align: center;">Misyonumuz</h2>
        <p style="text-align: justify">Bu gerçek karşısında yapısını ve anlayışını sürekli yenileyerek müvekkillerimizin
          hukuki konularda ihtiyaç duyduğu desteğe hızlı ve etkin çözümler sunmak misyonu içinde hareket etmektedir. Bu
          kapsamda teknolojik imkanları üst düzeyde kullanmayı, iş ve işlemler ile ilgili bilgilendirmeleri zamanında
          yaparak şeffaf, hesap verebilir olmayı kendisine ilke edinmiştir..</p>
      </div>
    </div>
  </div>
  <hr>
</div>
