<div class="container">
  <div class="m-3 d-flex justify-content-start">
    <div>
      <img style="width: 100px;" [src]="'data:' + service?.iconContentType + ';base64,' + service?.icon" [alt]="service?.title">
    </div>
    <div>
      <p style="font-size: 4em; margin-left: 30px;">{{service?.title}}</p>
    </div>
  </div>
  <hr>
<!--  <p>{{service?.description}}</p>-->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <p>
        İş ve sosyal güvenlik hukuku alanında geniş bir tecrübeye sahip olan ekibimiz, çok uluslu şirketlerden yerel kuruluşlara kadar birçok farklı sektör ve yapıdaki müvekkile hukuki danışmanlık ve dava avukatlığı hizmeti sağlamaktadır. Çalışanların iş sözleşmeleri ve fesih bildirimlerinin hazırlanması, ihtarnameler ve diğer belgelerin düzenlenmesinden, sözleşmelerin feshinden doğan tazminat ve işe iade taleplerine ilişkin davaların takibi, iş kazaları ve meslek hastalıklarından doğan tazminat davalarının takibi, iş sözleşmelerinin ve bağlı prosedürlerin Yargıtay uygulaması ışığında güncellenmesi ve/veya yeniden düzenlenmesi de dahil olmak üzere müvekkillerin ihtiyaç duyabileceği her konuda ihtiyaçlarına uygun hukuki hizmeti vermektedir.
      </p>
      <p>
        Bu alandaki hizmetlerimiz:
      </p>
      <ul>
        <li>İş sözleşmelerinin hazırlanması, incelenmesi ve tadili</li>
        <li>Müvekkil şirketlere iş hukuku ile ilgili günlük konulara dair hukuki danışmanlık hizmeti verilmesi</li>
        <li>Fesih bildirimleri, ihtarname, ikale sözleşmelerinin düzenlenmesi</li>
        <li>Tazminat, fazla mesai, işçi alacakları ve işe iadeye ilişkin davaların takibi</li>
        <li>İş sağlığı ve işyeri güvenliğine ilişkin konular</li>
        <li>Arabuluculuk ve yargılama süreçlerinin takibi de dahil olmak üzere uyuşmazlık çözümü</li>
        <li>Sosyal güvenlik hukukuna dair hususlar</li>
        <li>Şirket politikaları, yönetmelikleri ve kurallarının düzenlenmesi ve incelenmesi</li>
        <li>Çok uluslu şirketlerin iş sözleşmelerinin Türk Hukuku’ na uyarlanması</li>
        <li>Müvekkil şirketlerin insan kaynakları departmanlarına Türk İş Hukuku hakkında eğitimler verilmesi</li>
      </ul>
      <p>
        Daha fazla bilgi için <a href="mailto:info@kulacoglu.av.tr">info@kulacoglu.av.tr</a> adresi üzerinden bize ulaşabilirsiniz.
      </p>

    </div>
  </div>
</div>
