<div class="row m-0">
  <img src="http://www.ilyasgecgelen.av.tr/images/banner-img-1.jpg" alt="image" class="p-0">
  <div style="position: absolute; top: 200px; left: 100px; overflow: hidden">
    <p style="font-size: 3em; color: white;">Adalet Mülkün Temelidir!</p>
    <p class="text" style="font-size: 1em; color: white;">Mustafa Kemal Atatürk</p>
  </div>
</div>

<div class="container">
  <div class="row py-5">
    <h2 class="text-center" style="font-size: 4em;">Uzmanlık Alanlarımız</h2>
    <p class="lead text-center">Türkiye’nin gelişen ve dünyaya entegre olan ekonomisi ve bu kapsamda
      çeşitlenen hizmet taleplerine cevap verebilmek amacı ile Hancızade Hukuk bünyesinde, konusunda uzman
      avukatlardan oluşan kadromuz bulunmaktadır.</p>
    <hr class="my-3 mx-auto d-block" style="width: 100px;">
    <div class="row mt-3 py-3 px-0 d-flex justify-content-around">
      <div class="col col-lg-3 col-xl-3" style="min-width: 300px; max-width: 400px;" *ngFor="let service of services">
        <div class="my-3 p-3 border-secondary rounded-2">
          <img class="rounded mx-auto d-block" style="width: 100px;"
               [src]="'data:' + service.iconContentType + ';base64,' + service.icon" [alt]="service.title">
          <p class="text-center mt-3">{{service.title}}</p>
          <button class="btn btn-link mx-auto d-block" [routerLink]="['/our-services/detail', service.id]">Bilgi Al
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row py-5" style="background-color: black; color: white;">
  <h2 class="text-center text-white" style="font-size: 4em;">Hakkımızda</h2>
  <hr class="my-3 mx-auto d-block" style="width: 100px;">
  <p class="text-center lead">Bugün, geniş bir çerçevede hukuk hizmeti veren Aksan, en verimli şekilde çözüme ulaşmak
    <br>
    amacıyla çalışma alanlarına göre uzmanlaşmış departmanlara ayrılarak organize olmuştur. <br>
    Aksan, farklı hukuk alanlarında uzmanlaşmış bir danışman kadrosuna ve <br>
    dünya dinamizmini yansıtan güçlü bir müvekkil ağına sahiptir.</p>
</div>
<hr>

<h2 class="text-center" style="font-size: 4em;">Ekibimiz</h2>
<div class="container">
  <div class="row py-5">
    <hr class="my-3 mx-auto d-block" style="width: 100px;">
    <div class="row mt-3 py-3 px-0 d-flex justify-content-around">
      <div class="col py-5" *ngFor="let teamMember of teamMembers">
        <div class="border-secondary rounded-circle overflow-hidden d-block mx-auto"
             style="width: 300px; height: 300px;">
          <img class="mx-auto d-block" style="width: 300px;"
               [src]="'data:' + teamMember.imageContentType + ';base64,' + teamMember.image" [alt]="teamMember.name">
        </div>
        <div class="w-100 text-center">
          <p class="mt-3 card-title" style="font-size: 1.5em;">{{teamMember.name}} {{teamMember.surname}}</p>
          <p class="mt-3 card-subtitle text-muted">{{teamMember.title}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>


<h2 class="text-center" style="font-size: 4em;">Referanslarımız</h2>
<div class="container">
  <div class="row py-5">
    <hr class="my-3 mx-auto d-block" style="width: 100px;">
    <div class="row py-3 px-0 d-flex justify-content-around">
      <div class="col p-3 m-3" *ngFor="let reference of references">
        <img class="rounded mx-auto d-block" style="height: 100px;"
             [src]="'data:' + reference.imageContentType + ';base64,' + reference.image" [alt]="reference.name">
        <p class="text-center mt-3">{{reference.name}}</p>
      </div>
    </div>
  </div>
</div>
