<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="properties">
      <h2 data-cy="propertiesDetailsHeading"><span jhiTranslate="lawfirmApp.properties.detail.title">Properties</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ properties.id }}</span>
        </dd>
        <dt><span jhiTranslate="lawfirmApp.properties.key">Key</span></dt>
        <dd>
          <span>{{ properties.key }}</span>
        </dd>
        <dt><span jhiTranslate="lawfirmApp.properties.value">Value</span></dt>
        <dd>
          <span>{{ properties.value }}</span>
        </dd>
        <dt><span jhiTranslate="lawfirmApp.properties.language">Language</span></dt>
        <dd>
          <span>{{ properties.language }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/properties', properties.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
